.navigation {
  display: flex;
  justify-content: space-between;
}

.body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
  color: #333;
}

.book-wrapper {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #0056b3;
  color: #000000;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 16px;
}

.button:hover {
  background-color: #003975;
}

.button-rate {
  background-color: #4caf50;
  color: #000000;
  padding: 15px 30px;
  font-size: 18px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.button-rate:hover {
  background-color: #367b35;
}

.book-placeholder--link,
.book-placeholder--title,
.book-placeholder--author,
.book-placeholder--rating {
  margin-bottom: 10px;
  font-size: 16px;
}

.book-data input[type="text"],
.book-rating-dropdown {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book-rating-dropdown {
  display: block;
  margin-bottom: 10px;
}
